@charset "UTF-8";

.h_tit {
    position: relative;
    font-size: 22px;
    color: #000;
    line-height: 20px;
    font-weight: 500;
    font-family: "campton", "Apple SD Gothic Neo", NanumBarunGothic, "나눔바른고딕", Malgun Gothic, "맑은 고딕", dotum, sans-serif;
}

.info {
	 border-top: 4px solid #000; 
	 border-bottom: 1px solid #d4d4d4;
	 display: table; 
	 width: 100%;
}

.info2 {
	 border-bottom: 1px solid #d4d4d4;
	 display: table; 
	 width: 100%;
}

.info3 {
	 border-bottom: 1px solid #d4d4d4;
	 display: none; 
	 width: 100%;
}

.info .info_p {
    display: block;
    font-weight: 600;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    display: table-cell;
    min-height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    box-sizing: border-box;
}

.info2 p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    display: table-cell;
    min-height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    box-sizing: border-box;
}

.info3 p#p_content {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    display: table-cell;
    min-height: 50px;
    padding: 17px 60px 60px 200px;
    vertical-align: middle;
    font-size: 14px;
    box-sizing: border-box;
}


.searchbox {
	position: relative;
    max-width: 352px;
    margin-bottom: 10px;
    border: 4px solid #000;
}

.searchbox .outbox {
	display: block;
    margin-right: 48px;
    height: 52px;
    padding: 0;
    border: 0;
    background: #fff;
    vertical-align: top;
    box-sizing: border-box;
}

.inbox {
	display: block;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    background: transparent;
    color: #000;
    outline: none;
    font-size: 20px;
    line-height: 52px;
    vertical-align: top;
    -webkit-appearance: none;
    border:0px;
}

.faq_searchBtn {
	position: absolute;
    top: 0;
    right: 0;
    width: 52px;
    height: 52px;
    padding: 0;
    background: url(//img.29cm.co.kr/mall/svg/icon_search_v2.svg) 50% 50%/30px auto no-repeat;
    border: 0px;
    cursor: pointer;
}

ul#small_tab_ul {
    list-style: none;
}

ul#small_tab_ul {
    display: table;
    clear: both;
    content: "";
}

ul#small_tab_ul:first-child {
	padding: 0;
	display: block;
    clear: both;
    content: "";
}

ul#small_tab_ul li a {
	text-decoration: none;
    display: inline-block;
    padding: 2px 20px 0;
    line-height: 42px;
    color: #5d5d5d;
    font-size: 14px;
    font-weight: 200;
    float: left;
}

ul#small_tab_ul li{
	float: left;
}

@media screen and (min-width: 541px){
ul#small_tab_ul li:before {
	display: inline-block;
    width: 1px;
    height: 14px;
    margin: 15px 0 0;
    background: #d4d4d4;
    vertical-align: top;
    content: "";
}
}

ul#small_tab_ul li:last-child:before {
	display: inline-block;
    width: 0px;
    height: 14px;
    margin: 15px 0 0;
    background: #d4d4d4;
    vertical-align: top;
}



.small_tab ul:after {
    display: table;
    clear: both;
    content: "";
}

div.small_tab ul#small_tab_ul li a.select_tab {
	color: #000; 
	font-weight: 700;
}


.inform {
	position: relative;
    padding: 12px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    font-size: 14px;
    line-height: 18px;
    color: #303033;
    text-decoration: none;
}


.sub_div {
	position: relative;
    margin-top: 20px;
    padding-right: 360px;
}


.my_grade[_myPage] ul[_myPage]{padding: 0px;overflow:hidden; margin: 0px; text-decoration: none;}
.my_grade[_myPage] li[_myPage]{padding: 0px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;float:left;position:relative;width:25%;height:150px;box-sizing:border-box;text-align:left}
.my_grade[_myPage] li[_myPage]:first-child{width:50%}
.my_grade[_myPage] li[_myPage] a[_myPage]{display:block;width:100%;text-decoration: none; min-width: 82px; padding: 0 17px; border: 1px solid #303033; background: #303033; font-size: 13px; color: #fff; line-height: 40px; display: inline-block; box-sizing: border-box;}
.my_grade[_myPage] li[_myPage]:before{position:absolute;top:27px;left:0;width:1px;height:100px;background:#5d5d5d;content:""}
.my_grade[_myPage] li[_myPage]:first-child:before{display:none}
.my_grade[_myPage] li[_myPage] .benefit_show[_myPage]{position:absolute;right:26px;bottom:24px;width:auto;font-weight:300;line-height:17px;text-align:center}
.my_grade[_myPage] li[_myPage] span[_myPage]{color:#a0a0a0}
.my_grade[_myPage] li[_myPage] span[_myPage]:after{display:inline-block;clear:both;width:5px;height:5px;margin-bottom:2px;margin-left:3px;-webkit-transform:rotate(45deg);transform:rotate(45deg);border-top:1px solid #a0a0a0;border-right:1px solid #a0a0a0;content:""}
.my_grade[_myPage] li[_myPage] em[_myPage]{font-style: normal;font-size:50px;font-weight:400;color:#fff;line-height:1.3;vertical-align:text-bottom;-webkit-transition:font-size .25s ease-in-out;transition:font-size .25s ease-in-out}
.my_grade[_myPage] .btn_more[_myPage]{display:none}
@media screen and (min-width:541px){
	.my_grade[_myPage]{background:#303033}
	.my_grade[_myPage]   li[_myPage]   span[_myPage]{display:inline-block;position:absolute;top:24px;left:21px;font-size:14px;font-weight:600}
	.my_grade[_myPage]   li[_myPage]   em[_myPage]{text-align:right}
	.my_grade[_myPage]   li[_myPage]   .benefit_show[_myPage]{padding:8px 20px 7px;border:1px solid #6d6d6d;border-radius:17px;font-size:14px;color:#fff}
}
@media screen and (max-width:1550px){
	.my_grade[_myPage] li[_myPage]   em[_myPage]{font-size:40px}
}
@media screen and (max-width:1300px){
	.my_grade[_myPage] li[_myPage]   em[_myPage]{font-size:34px}
	.my_grade[_myPage] li[_myPage]   .benefit_show[_myPage]{bottom:20px}
}
@media screen and (max-width:1220px){
	.my_grade[_myPage] li[_myPage]   em[_myPage]{font-size:24px}
	.my_grade[_myPage] li[_myPage]   .benefit_show[_myPage]{bottom:18px}
}
@media screen and (max-width:540px){
	.my_grade[_myPage]{overflow:hidden;margin:0 -20px}
	.my_grade[_myPage] ul[_myPage]{margin-right:-1px}
	.my_grade[_myPage] li[_myPage]{width:50%;height:auto;min-height:86px;border:1px solid #e4e4e4;border-width:0 1px 1px 0;padding:17px 20px 5px;text-align:left}
	.my_grade[_myPage] li[_myPage]:first-child{width:100%}
	.my_grade[_myPage] li[_myPage]:first-child, .my_grade[_myPage] li[_myPage]:nth-child(2){border-top:0}
	.my_grade[_myPage] li[_myPage]:before{display:none}
	.my_grade[_myPage] li[_myPage]   .benefit_show[nth-child]{right:20px;bottom:24px;padding:12px 24px 11px;border-radius:40px;background:#f6f6f6;font-size:13px;color:#474747}
	.my_grade[_myPage] li[_myPage]   span[nth-child]{display:block;position:static;font-weight:300;font-size:14px}
	.my_grade[_myPage] li[_myPage]   span[nth-child]:after{display:none}
	.my_grade[_myPage] li[_myPage]   em[nth-child]{display:block;margin-top:12px;font-size:32px;font-weight:600;color:#000;line-height:1.233}
}

#currentPaging{
	border-bottom: 1.5px solid #000;
	cursor: pointer;
	font-weight: 700;
    color: #000;
    text-decoration:none;
	padding: 1px;
	margin: 10px;
}
#paging{
	text-decoration: none;
	cursor: pointer;
	color: #bcafaf;
	text-decoration:none;
	padding: 1px;
	margin: 10px;
}

#faqPagingDiv {
	margin-top:30px;
}
