@charset "UTF-8";


    body, input, select, textarea, button, a {
        -webkit-text-size-adjust:none;
        font-family: "campton", "Apple SD Gothic Neo", NanumBarunGothic, "나눔바른고딕", Malgun Gothic, "맑은 고딕", dotum, sans-serif;
    }

/* 체크박스 */
/* input[type="checkbox"] {
  display: none;
}  */

input[type="checkbox"] + label {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin : -2px 10px 0 0 ;
  vertical-align : middle;
  border: 2px solid #bcbcbc;
  background:url(https://se-us-west-2.amazonzws.com/s.cdpn.io/210284/check_radio_sheet.png) left top no-repeat;
  cursor: pointer;
}

input[type=checkbox]:checked + label:after {
  content: '\2714';
  font-size: 12px;
}


  <!-- 전체적인 틀과 간격 고정화 -->
@media screen and (min-width:541px){  .has_banner .member{padding-top:316px}} 
@media screen and (max-width:1230px){  .has_banner .member{padding-top:296px}}
@media screen and (max-width:540px){  .has_banner .member{padding-top:100px}}
   button{outline:none}  
   table{border:0;border-collapse:collapse;border-spacing:0;width:100%;table-layout:fixed}  
   caption span{overflow:hidden;position:absolute;width:1px;height:1px;margin:-1px;clip:rect(0 0 0 0)}  
   fieldset{padding:0;border:0}  .blind,
   legend{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:1px;line-height:100px;white-space:nowrap}  
   input::-ms-clear{display:none}  input,   
   textarea{border:0;border-radius:0;background:transparent;/* -webkit-appearance:none; */-moz-appearance:none;appearance:none}  
   .inpbx{position:relative;height:40px;border:1px solid #d4d4d4;background:#fff}  .inpbx,   
   .inpbx input{text-align:left;vertical-align:top;box-sizing:border-box}  .inpbx input{display:block;width:100%;height:100%;padding:0 14px;font-size:15px;color:#1a1a1a;border:0;background:transparent;outline:none}  .inpbx input[type=tel]:disabled,   
   .inpbx input[type=text]:disabled{color:#d4d4d4;opacity:1}  .inptxtbx textarea{display:block;width:100%;font-size:15px;line-height:20px;color:#1a1a1a;overflow:auto;padding:9px 14px;border:1px solid #ccc;background:transparent}  .btn,   
   @media screen and (max-width:540px){  .my_guide_info li{font-size:13px;line-height:22px}  .my_guide_info li:after{top:10px}}
   @media screen and (max-width:540px){  .login_wrap .pc_view{display:none}  .login_wrap .m_view{display:block}}
   									     .member_title{margin-bottom:32px;color:#000;font-size:56px;font-weight:500;text-align:center}
   									     .login_wrap{max-width:400px;margin:0 auto 50px;letter-spacing:-.5px}
   									     .login_wrap h3{color:#000;font-size:30px;font-weight:400;text-align:center;line-height:1.3}
   									     .login_wrap .sns_btn a.btn{width:100%;height:50px;margin-bottom:10px;color:#fff;font-size:14px;line-height:50px;text-align:center}
   									     .login_wrap .tab_list{width:100%;overflow:hidden}
   									     .login_wrap .tab_list li{float:left;width:50%;box-sizing:border-box;border-bottom:4px solid #000}
   									     .login_wrap .tab_list a{display:block;height:46px;border:1px solid #d4d4d4;border-bottom:0;background:#fff;color:#5d5d5d;font-size:14px;font-weight:800;line-height:46px;text-align:center}
   									     .login_wrap .tab_list li:first-child a{margin-right:-1px}  .login_wrap .tab_list a.active{position:relative;background:#000;color:#fff;border-color:#000}
   @media screen and (max-width:540px){  .member_title{margin:15px 0;font-size:26px}  .login_wrap{max-width:100%;margin:0;padding:0 20px}}  


   

   <!-- txtbox 및 chkbox 간격 -->

   .login_wrap   .tab_cnt{padding-top:20px}
   .login_wrap   .tab_cnt   .inpbx{margin-bottom:15px}
   .login_wrap   .tab_cnt   .txt{height:20px}
   .login_wrap   .tab_cnt   .txt_warning{display:block;height:20px;padding-top:4px;box-sizing:border-box;color:#ff4800;font-size:12px}

   .login_wrap   .btn.btn_login{margin:20px 0;font-size:20px} <!--로그인 상태유지와 로그인 버튼 간격 -->
   
   <!-- 로그인 버튼 크기 색, 위치 및 조정 등등 -->
   .login_wrap   .tab_list{width:100%;overflow:hidden}
   .login_wrap   .tab_list   li{float:left;width:100%;box-sizing:border-box;border-bottom:4px solid #000}
   .login_wrap   .tab_list   a{display:block;height:46px;border:1px solid #d4d4d4;border-bottom:0;background:#fff;color:#5d5d5d;font-size:14px;font-weight:800;line-height:46px;text-align:center}
   .login_wrap   .tab_list   li:first-child   a{margin-right:-1px}
   .login_wrap   .tab_list   a.active{position:relative;background:#000;color:#fff;border-color:#000}
   .login_wrap   .btn{width:100%;height:50px;border:1px solid #000;font-size:20px;line-height:50px;font-weight:600}
   .login_wrap   .btn.btn_login{background:#000;color:#fff}
  
   <!-- 회원가입 | 아이디찾기 | 비밀번호찾기 -->
   .login_wrap   .linkarea{display:-webkit-box;display:-ms-flexbox;display:flex;margin-top:20px;text-align:center}
   .login_wrap   .linkarea   li{-webkit-box-flex:1;-ms-flex:1;flex:1;position:relative;display:inline-block;padding:0 10px 0 12px}
   .login_wrap   .linkarea   li:before{content:" ";position:absolute;left:0;display:inline-block;width:1px;height:22px;background:#a0a0a0}
   .login_wrap   .linkarea   li:first-child:before{display:none}
   .login_wrap   .linkarea   a{font-size:14px;color:#5d5d5d}

 


ul{list-style:none; padding-left:0px;}
