@charset "UTF-8";

.mypage_left {width: 230px;height: 1028px;float: left;}

.my_my[_myPage] {margin-bottom: 38px}
.my_my[_myPage] h3[_myPage] {font-size: 45px;font-weight: 700;color: #000;word-break:break-all;margin: 0;}
.my_my[_myPage] p[_myPage] {margin-top: 0px;padding-top:2px;font-size:16px;font-weight:500;color:#000;}
.my_my[_myPage] div.wish {margin-top:27px;padding: 0;font-size:14px;color:#303033;list-style-type: none;}
.my_my[_myPage] a[_myPage] {text-decoration: none;}
span.heartIcon[_myPage]{display:inline-block;width:18px;height:16px;margin-right:6px;vertical-align:top;font-size:15px;font-weight:600;color:#303033}
span.txt[_myPage]{display:inline-block;width:70px;font-size:15px;font-weight:600;color:#303033;margin-right: 4px;}
em[_myPage]{font-size:16px;font-weight:700;color:#303033}

.my_shop[_myPage]{padding-bottom:27px}
.my_shop[_myPage] h4[_myPage]{margin-bottom:8px;font-size:18px;font-weight:800;color:#303033}
.my_shop[_myPage] h4[_myPage] a{text-decoration: none; color:#303033;}
ul[_myPage]{margin-bottom:31px; list-style: none; padding-left: 0px;}
ul[_myPage] li[_myPage]{padding:9px 0 10px}
ul[_myPage] a[_myPage]{font-size:16px;color:#5d5d5d;font-weight:200;text-decoration: none;}

.my_call[_myPage] .mycs[_myPage]{display:block;margin-bottom:8px;font-size:26px;font-weight:700;color:#000}
.my_call[_myPage] p[_myPage]{margin-bottom:20px;font-size:15px;color:#a0a0a0;line-height:1.85}

.mypage_right {width:73%; min-width:800px; overflow: visible; height:auto; float: left; position: absolute; left: 250px;}
.mypage_right > section:nth-child(2) {padding:80px 0px 0px 0px; overflow: hidden; position: relative;}

.my_grade[_myPage] {width: 100%;}
.my_grade[_myPage] ul[_myPage]{overflow:hidden; margin: 0px;}
.my_grade[_myPage] li[_myPage]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;float:left;position:relative;width:25%;height:150px;padding:65px 20px 15px;box-sizing:border-box;text-align:left}
.my_grade[_myPage] li[_myPage]:first-child{width:50%}
.my_grade[_myPage] li[_myPage] a[_myPage]{display:block;width:100%}
.my_grade[_myPage] li[_myPage]:before{position:absolute;top:27px;left:0;width:1px;height:100px;background:#5d5d5d;content:""}
.my_grade[_myPage] li[_myPage]:first-child:before{display:none}
.my_grade[_myPage] li[_myPage] .benefit_show[_myPage]{position:absolute;right:26px;bottom:24px;width:auto;font-weight:300;line-height:17px;text-align:center}
.my_grade[_myPage] li[_myPage] span[_myPage]{color:#a0a0a0}
.my_grade[_myPage] li[_myPage] span[_myPage]:after{display:inline-block;clear:both;width:5px;height:5px;margin-bottom:2px;margin-left:3px;-webkit-transform:rotate(45deg);transform:rotate(45deg);border-top:1px solid #a0a0a0;border-right:1px solid #a0a0a0;content:""}
.my_grade[_myPage] li[_myPage] em[_myPage]{font-size:50px;font-weight:400;color:#fff;line-height:1.3;vertical-align:text-bottom;-webkit-transition:font-size .25s ease-in-out;transition:font-size .25s ease-in-out}
.my_grade[_myPage] .btn_more[_myPage]{display:none}
@media screen and (min-width:541px){
	.my_grade[_myPage]{/* position:absolute; */top:0;right:50px;left:1px;background:#303033}
	.my_grade[_myPage]   li[_myPage]   span[_myPage]{display:inline-block;position:absolute;top:24px;left:21px;font-size:14px;font-weight:600}
	.my_grade[_myPage]   li[_myPage]   em[_myPage]{text-align:right}
	.my_grade[_myPage]   li[_myPage]   .benefit_show[_myPage]{padding:8px 20px 7px;border:1px solid #6d6d6d;border-radius:17px;font-size:14px;color:#fff}
}
@media screen and (max-width:1550px){
	.my_grade[_myPage] li[_myPage]   em[_myPage]{font-size:40px}
}
@media screen and (max-width:1300px){
	.my_grade[_myPage] li[_myPage]   em[_myPage]{font-size:34px}
	.my_grade[_myPage] li[_myPage]   .benefit_show[_myPage]{bottom:20px}
}
@media screen and (max-width:1220px){
	.my_grade[_myPage] li[_myPage]   em[_myPage]{font-size:24px}
	.my_grade[_myPage] li[_myPage]   .benefit_show[_myPage]{bottom:18px}
}
@media screen and (max-width:540px){
	.my_grade[_myPage]{overflow:hidden;margin:0 -20px}
	.my_grade[_myPage] ul[_myPage]{margin-right:-1px}
	.my_grade[_myPage] li[_myPage]{width:50%;height:auto;min-height:86px;border:1px solid #e4e4e4;border-width:0 1px 1px 0;padding:17px 20px 5px;text-align:left}
	.my_grade[_myPage] li[_myPage]:first-child{width:100%}
	.my_grade[_myPage] li[_myPage]:first-child, .my_grade[_myPage] li[_myPage]:nth-child(2){border-top:0}
	.my_grade[_myPage] li[_myPage]:before{display:none}
	.my_grade[_myPage] li[_myPage]   .benefit_show[nth-child]{right:20px;bottom:24px;padding:12px 24px 11px;border-radius:40px;background:#f6f6f6;font-size:13px;color:#474747}
	.my_grade[_myPage] li[_myPage]   span[nth-child]{display:block;position:static;font-weight:300;font-size:14px}
	.my_grade[_myPage] li[_myPage]   span[nth-child]:after{display:none}
	.my_grade[_myPage] li[_myPage]   em[nth-child]{display:block;margin-top:12px;font-size:32px;font-weight:600;color:#000;line-height:1.233}
}

table.my_order_table {
	border-top: 4px solid black;
	border-collapse: collapse;
}
.my_order_table thead td {
	text-align: center;
	border-bottom: 1px solid #303033;
	padding: 10px 0px;
}
.my_order_table tbody td {
	text-align: center;
	border-bottom: 1px solid #d4d4d4;
	padding: 20px 0px;
}
.order_list td {
	text-align: center; cursor: pointer;
}
.order_list td:nth-child(2) {
	text-align: left;
}
.order_list td:nth-child(2) img {
	vertical-align: middle;
	padding-right: 20px;
}

.my_heart[_myPage] {
	padding-top: 100px; overflow: hidden; position: relative;
}
.heart_list {
	padding: 0px;
	margin-left: -20px;
	list-style: none;
}
.heart_list li {
	padding: 0px 0px 80px 20px;
	float: left;
	max-width: 239px;
	max-height: 320px;
	width: 18%;
	flex: none;
}
.heart_list li img {width: 100%;}
.heart_list li p {margin-bottom: 20px;}

/* 주문배송조회 */
.tracking_table {width: 100%;border-collapse: collapse;border-top: 4px solid black;}
.tracking_table thead td {padding: 10px 0px;text-align: center;}
.tracking_table tbody td {border-top: 2px solid black;text-align: center;}
.tracking_table tbody td:first-child {text-align: left;}
.tracking_table tbody td img { float: left; width: 80px; vertical-align: middle; padding-right: 30px; }
.tracking_table tbody .item_info {float: left; vertical-align: middle;}
.tracking_table tbody .item_info .item_name {font-size: 16px;line-height: 24px;font-weight:500; word-wrap: break-word;}
.tracking_table tbody .item_info .item_size {font-size: 12px;}
.tracking_table tbody strong {font-size: 23px;}
.tracking_table tbody p {font-size: 13px;}
.stepbox {border-top: border-top: 2px solid black; margin: 10px 0px;}
.stepbox span {font-weight: 700; padding-right: 40px;}
.items {display: block;}
.items .item{border-top:1px solid #d4d4d4; width: 100%; display: inline-block; *display: inline; padding: 10px 0px;}
.items .item .item_1 {width: 70%; float: left; cursor: pointer;}
.items .item .item_info {display: block;}
.items .item .item_info .item_name {font-size: 24px; font-weight: 500; padding: 10px 0px; word-wrap: break-word;}
.itmes .item .item_info .item_count {padding: 10px 0px;}
.items .item .item_2 {width: 10%; float: left; text-align: center; padding: 30px 0px;}
.items .item .item_3 {width: 20%; float: left; text-align: center; padding: 25px 0px;}
.tracking_table tbody tr:last-child td{
	border-bottom: 1px solid #d4d4d4;
}