<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="customerServiceSQL">
 	<!-- FAQ -->
 	<select id="getFaqList" parameterType="java.util.Map" resultType="faq">
 		select * from (select rownum rn, tt.* from 
		(select * from faq where type like '%'||#{type}||'%' )tt 
		)where rn between #{startNum} and #{endNum}
 	</select>
 	
 	<select id="getTotalA" parameterType="String" resultType="int">
  		select count(*) from faq where type like '%'||#{faq_type}||'%'
  	</select>
  	
  	<select id="searchFaqList" parameterType="java.util.Map" resultType="faq">
  		select * from (select rownum rn, tt.* from 
		(select * from faq where title like '%'||#{content}||'%' )tt 
		)where rn between #{startNum} and #{endNum}
  	</select>
  	
  	<select id="getTotalA2" parameterType="String" resultType="int">
  		select count(*) from faq where title like '%'||#{search}||'%'
  	</select>
  	
  	<!-- notice -->
  	<select id="getNoticeTotalA" resultType="int">
  		select count(*) from notice
  	</select>
  	
 	<select id="viewNoticeList" parameterType="java.util.Map" resultType="notice">
	 	select * from 
			(select rownum rn, tt.* from 
			(select * from notice order by seq desc)tt
			) where rn <![CDATA[>=]]>#{startNum} and rn <![CDATA[<=]]> #{endNum}
	 </select>
</mapper>